<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th>Centro</th>
            <th>Caja</th>
            <th>id</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#each registros}}
                {{this}}
            {{/each}}
            <td>1010</td>
            <td>2</td>
            <td>21345</td>
        </tr>
    </tbody>
</table>